.search{
    margin-right: 30%;
}

.div-content{
    margin-top: 50%;
}

.div-content1{
    margin-top: 40%;
}

.alertify .ajs-message, .alertify .ajs-footer {
            background-color:#00ffff; /* Cambia el color de fondo según tu preferencia */
        }