<div class="w-3/4 md:w-1/2 mb-8 bg-gray-800 rounded-xl border border-white mt-4 md:mt-0">
    <form id="form_register_course">

        <div class="flex w-full items-center justify-center mt-6 mb-4 py-2">
            <h1 class="text-blue-400 text-xl">Registrar Asignatura</h1>
        </div>

        <div class="flex w-full items-center justify-center mt-6 mb-4 py-2">

            <label class="w-20 block tracking-wide ml-0 md:ml-2 mt-8 text-blue-400 text-sm mb-2" for="grid-first-name">
                Nombre
            </label>

            <div class="w-1/2 border-b border-blue-400 m-2 mt-8">
                <input id="input_name_subject"
                    class="appearance-none bg-transparent border-none w-full text-gray-300 leading-tight focus:outline-none"
                    type="text" aria-label="Full name" required>
            </div>
        </div>

        <div class="flex w-full items-center justify-center mt-2 ">

            <span id="info_subject" class="w-full text-red-600 justify-center items-center flex mr-6 ml-6 ">

            </span>
        </div>

        <div class="flex w-full items-center justify-center mt-6 mb-4 py-2">

            <div class="w-1/4 justify-center flex ">
                <Button id="btn_subjects_register"
                    class="bg-gray-700 rounded-3xl text:font-medium py-2 px-6 text-gray-200 hover:bg-blue-600 border border-blue-600 ">
                    Enviar
                </button>
            </div>

        </div>
    </form>
</div>