<div class="w-3/4 md:w-3/4 mb-8 bg-gray-800 rounded-xl border border-white mt-4 md:mt-0">

    <div class="flex w-full justify-center mt-4">
        <span id="titulo_foro" class="text-4xl text-blue-400 m-2">foro 1 </i> </span>

    </div>

    <div class="flex w-full  mt-6 px-20">
        <span id="descripcion_foro" class="text-lg text-gray-300">este es el foro 1</span>
    </div>

    <div class="flex flex-col items-end px-20 w-full py-0">
        <span id="fecha_inicio_foro" class="text-sm text-gray-300">Fecha Inicio : </span>
        <span id="fecha_fin_foro" class="text-sm text-gray-300">Fecha Fin : </span>
    </div>
    <div class="flex w-full items-center justify-center mt-6 py-2">
        <h1 class="text-xl text-gray-300">RESPUESTAS <i class="ml-2 fa fa-comment"></i></h1>

    </div>



    <div class="flex bg-transparent items-center justify-center">

        <div id="div_respuestas"
            class="bg-gray-600 rounded-xl flex flex-col bg-transparent text-gray-300 items-center w-11/12 h-80 overflow-y-auto overflow-x-auto">

        </div>
    </div>


    <div class="flex flex-col w-full items-center justify-center mt-2 mb-4 ">
        <label id="seleccionar_archivo" for="input_file" class="mt-8 text-lg text-blue-300 ">Seleccionar archivo: <i
                class="fa fa-edit"></i></label> <span id="info" class="text-gray-300"></span>
        <input id="input_text" type="text" placeholder="Comenta algo o elije un archivo"
            class="mt-6 text-gray-100 text-lg border-b bg-transparent w-11/12 border-blue-300 px-4 py-2 mb-4 rounded-md focus:outline-none focus:border-blue-500">
        <input id="input_file" type="file" id="archivo" name="archivo" class="hidden">
        <Button id="btn_comentar_foro"
            class="btn_comentar_foro mt-4 bg-gray-700 rounded-3xl text:font-medium py-2 px-6 text-gray-200 hover:bg-blue-600 border border-blue-600 ">
            Comentar
        </button>
    </div>


</div>